:host {
  display: block;
  margin-top: 1em;
}

.outlet-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-tile {
  margin: 0.5rem;
}

.photo {
  max-width: 300px;
  max-height: 300px;
}

.pull-right {
  float: right;
}
