<div class="uploader">
  <input type="file" (change)="onFileChange($event)" accept="image/*" />
  <button (click)="upload()" [disabled]="uploading">Upload file</button>
  <div>
    <ng-container *ngIf="uploadResponse" else #uploadingBlock>
      Upload Successful
    </ng-container>
    <ng-template #uploadingBlock>
      <ng-container *ngIf="uploading">
        Upload Percent: {{ percentDone }}%
      </ng-container>
    </ng-template>
  </div>
</div>

<div class="photos">
  <div class="photo-tile" *ngFor="let photo of photos">
    <img class="photo" src="/api/photos/{{ photo._id }}" />
    <br />
    {{ photo.fileName }}
    <button class="pull-right" (click)="deletePhoto(photo._id)">delete</button>
  </div>
</div>
